@model ShowcaseModel

<section class="showcase">
    <div class="container">
        <div class="column-1">
            <div class="content">
                <div class="title-2">@Model.Title_2</div>
                <div class="title-1">@Model.Title_1</div>
                <div class="title-3">@Model.Title_3</div>
                <a class="btn btn-theme" href="#">@Model.ButtonText</a>
            </div>
        </div>
        <div class="column-2">
            <img src="@Model.ImageUrl" alt="showcase image">
        </div>
    </div>
</section>