@model ShowcaseModel

@if (Model != null)
{
  <section class="showcase">
        <div class="container">
            <div class="column-1">
                <div class="content">
                    @if(!string.IsNullOrEmpty(Model.Title_2)) { <div class="title-2">@Model.Title_2</div> }
                    @if (!string.IsNullOrEmpty(Model.Title_1)) { <div class="title-1">@Model.Title_1</div> }
                    @if (!string.IsNullOrEmpty(Model.Title_3)) { <div class="title-3">@Model.Title_3</div> }
                    @if(!string.IsNullOrEmpty(Model.ButtonText)) { <a class="btn btn-theme" href="#">@Model.ButtonText</a> }
                </div>
            </div>
            <div class="column-2">
                @if(!string.IsNullOrEmpty(Model.ImageUrl)) { <img src="@Model.ImageUrl" alt="showcase image"> }
            </div>
        </div>
    </section>  
}
